<a href="https://colab.research.google.com/github/Sukhsimran-1922067/pythonbasic/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import scipy as sp
import numpy as np

nums=np.random.randint(1,20,size=(1,18))[0]

print("Data :", nums)

"""get descriptive stats

"""

print("Mean :",sp.mean(nums))

print("Median :",sp.median(nums))

from scipy import stats, optimize, interpolate

print("Mode :",sp.stats.mode(nums))

print('standard deviation',sp.std(nums))

print('variance',sp.var(nums))

print('Skew',sp.stats.skew(nums))

print('Kurtosis',sp.stats.kurtosis(nums))

Data : [ 1 10  4 12 11 10 17 19 13  2 16  8 11  2 19 10 15 14]
Mean : 10.777777777777779
Median : 11.0

<ipython-input-1-5439c76967de>:12: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  print("Mean :",sp.mean(nums))
<ipython-input-1-5439c76967de>:14: DeprecationWarning: scipy.median is deprecated and will be removed in SciPy 2.0.0, use numpy.median instead
  print("Median :",sp.median(nums))

Mode : ModeResult(mode=array([10]), count=array([3]))
standard deviation 5.482857685100146
variance 30.061728395061728
Skew -0.3387656057322863
Kurtosis -0.8471255518216974

<ipython-input-1-5439c76967de>:18: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  print("Mode :",sp.stats.mode(nums))
<ipython-input-1-5439c76967de>:20: DeprecationWarning: scipy.std is deprecated and will be removed in SciPy 2.0.0, use numpy.std instead
  print('standard deviation',sp.std(nums))
<ipython-input-1-5439c76967de>:22: DeprecationWarning: scipy.var is deprecated and will be removed in SciPy 2.0.0, use numpy.var instead
  print('variance',sp.var(nums))

In [ ]:
import pandas as pd
import numpy as np
d= {"a":[1, 2, 3, 4], "b":[2, 4, 6, 8]}
df1=pd.DataFrame(d) 
print("The DataFrame ") 
print(df1)

The DataFrame
   a  b
0  1  2
1  2  4
2  3  6
3  4  8

In [ ]:
import pandas as pd
import numpy as np
d= {"a":[3,5,7,9], "b":[6,8,12,14]}
df2=pd.DataFrame(d)
print("The DataFrame ")
print(df2)

The DataFrame
   a   b
0  3   6
1  5   8
2  7  12
3  9  14

In [ ]:
df1.append(df2)

   a   b
0  1   2
1  2   4
2  3   6
3  4   8
0  3   6
1  5   8
2  7  12
3  9  14